In [2]:
cities_1 = ["Dubai", "Mexico City", "Sao Paulo", "Hyderabad"]

print("initial order ", cities_1)
cities_1.reverse()

print("reversed order ", cities_1)

initial order  ['Dubai', 'Mexico City', 'Sao Paulo', 'Hyderabad']
reversed order  ['Hyderabad', 'Sao Paulo', 'Mexico City', 'Dubai']

In [3]:
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print("initial list", all_num, "\n")
all_num.reverse()

print("reverse list", all_num, "\n")
num_len = len(all_num)

initial list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]