In [2]:
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]
#access the 5  index of the list
ft_bones[5]

'intermediate cuneiform'

In [4]:
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]
#access the 0, 2 and last index of the list
print(ft_bones[0], "is the 1st bone on the list")
print(ft_bones[2], "is the 3rd bone on the list")
print(ft_bones[-1], "is the last bones on the list")

calcaneus is the 1st bone on the list
cuboid is the 3rd bone on the list
medial cuneiform is the last bones on the list

In [6]:
ft_bones=["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]

print(ft_bones[1].title(), "bone is conected to the", ft_bones[3].title(), "bone")

Talus bone is conected to the Navicular bone

In [9]:
age_survey = [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

#adds index 0, 1 and 2
three_ages_sum = age_survey[0] + age_survey[1] + age_survey[2]
print("The first three ages total", three_ages_sum)

The first three ages total 38